/* 
 * Theme Name: GymFitnessFlexCSSGrid
 * Theme URI:
 * Author: setcain
 * Author URI: http://setcain.com
 * Description: Tema diseñado para el Gimnasio GymFitness
 * Version: 1.0
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags: gym, gimnasio, css, mobile first, responsive,
 * Text Domain: gymfitness-theme
 * */

/* custom properties */
:root {
    /* fonts */
    --main-font: 'Staatliches', cursive;
    --text-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* colors */
    --main-color: #ff5b00;
    --white: #fff;
    --black: #000;
    --light-gray: #ebebeb;
    --dark-gray: #2f2e2e;
}

html {
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2;
}

a {text-decoration: none;}

h1, h2, h3, h4 {
    margin: 1rem 0;
    font-family: var(--main-font);
    line-height: 1.2;
}

h1 {font-size: 6rem;}
h2 {font-size: 4.8rem;}
h3 {font-size: 3.6rem;}
h4 {font-size: 2.4rem;}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

/* header */
.site-header {
    background-color: var(--dark-gray);
    padding: 2rem 0;
}

/* acomoda los elementos del flex-container */
.navigation-bar {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
}

/* navigation bar, mobile first*/
.main-menu {
    display: none;
}

/* clase generada por wordpress */
.main-menu .current_page_item {
    border-bottom: .3rem solid var(--main-color);
}

/* cuando la resoucion crezca a 768 aparece el menu */
@media (min-width: 768px) {
    .main-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    /* clase generada por wordpress = ul */
    .main-menu .menu {
        display: flex;
        justify-content: space-around;
    }
    /* espacio entre cada li */
    .main-menu li {
        margin-right: 2rem;
    }
    .main-menu li:last-of-type {
        margin-right: 0;
    }
}

/* enlaces del menu */
.main-menu a {
    padding: .5rem 2rem;
    font-family: var(--main-font);
    font-size: 2.2rem;
    color: var(--white);
}


/* animacion de los enlaces del menu */
@media (min-width: 768px) {
    .main-menu a {
        position: relative;
        z-index: 1;
        font-size: 2.6rem;
    }
    .main-menu a::before,
    .main-menu a::after {
        display: block;
        position: absolute;
        left: 0;
        z-index: -1;
        height: 50%;
        width: 100%;
        background-color: var(--main-color);
        content: '';
        transform: scaleX(0);
        transition: transform .3s;
    }
    .main-menu a::before {
        top: 0;
        transform-origin: left;
    }
    .main-menu a::after {
        top: 50%;
        transform-origin: right;
    }
    .main-menu a:hover::before {
        transform: scaleX(1);
    }
    .main-menu a:hover::after {
        transform: scaleX(1);
    }
}

/* slicknav menu movil */
.slicknav_menu {
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    .slicknav_menu {
        display: none;
    }
}

.slicknav_btn {
    background-color: var(--main-color);
}

.slicknav_nav a {
    font-family: var(--main-font);
    font-size: 2.4rem;
    text-align: center;
}